* {
   margin: 0;
   padding: 0;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 78, 80);
}

.cartao {
    width: 260 ;
    height: 200;

}

.cartao-imagem {
    width: 100;
     border-radius: 10px ;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(194, 221, 245);
}

main {
    flex: 1;
}


.cabecalho-link {
    color: black;
    text-decoration: none;
}

h1 {
    color: black;
    font-size: 24px;
}

footer {
    background-color: rgb(99, 146, 234);
    padding: 15px 25px;
    color: rgb(0, 0, 0);
}

.cartao-interno {
    position: relative;
}

.cartao-frente, .cartao-verso {
    position: relative;
    border-radius: 12px;
    box-shadow: 0 6px 12px grey;
}